<p id="notice"><%= notice %></p>

<h1>Chat Cliente Admins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Mensaje</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chat_cliente_admins.each do |chat_cliente_admin| %>
      <tr>
        <td><%= chat_cliente_admin.user %></td>
        <td><%= chat_cliente_admin.mensaje %></td>
        <td><%= chat_cliente_admin.fecha %></td>
        <td><%= link_to 'Show', chat_cliente_admin %></td>
        <td><%= link_to 'Edit', edit_chat_cliente_admin_path(chat_cliente_admin) %></td>
        <td><%= link_to 'Destroy', chat_cliente_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat Cliente Admin', new_chat_cliente_admin_path %>
