<p id="notice"><%= notice %></p>
<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box">
      <h1>Chat Cliente Administrador</h1>

      <div class="container">
      <% @chat_cliente_admins.each do |chat_cliente_admin| %>
            <% if current_user.id == chat_cliente_admin.user_id%>
                <div class="message-orange">
                  <p class="message-content"><%= chat_cliente_admin.mensaje %></p>
                  <div class="message-timestamp-right"><%= chat_cliente_admin.created_at %></div>
                </div>

            <% end %>
          <% end %>
      </div>
      <%= link_to 'Atras', 'select_message/index' %> -
      <%= link_to 'Enviar nuevo mensaje', new_chat_cliente_admin_path %>

    </div>
  </div>
</div>
